<!DOCTYPE html>
<html 
lang="{{ .Lang }}"
{{ with .Language.LanguageDirection }}dir="{{ . }}"{{ end }}
>
    {{- partial "head.html" . -}}
    <body>
    	<div id="app">
            {{- partial "mobile-header.html" . -}}
            <!-- mobile header -->
            <div id="content">
                <div id="streamContainer" class="stream-container">
                    {{- block "main" . }}{{- end }}
                    </div>
            </div>

            {{- partial "sidebar.html" . -}}
            {{- partial "extrabar.html" . -}}

            {{- partial "mobile-footer.html" . -}}
            <!-- mobile footer -->
            </div>
    {{ partial "journal.html" .}}
    
    {{- partial "footer.html" . -}}
    
    </body>
</html>
